<button class="btn btn-color" routerLink="/movies" > Back to Movies</button>
<div class="backgroud mt-3">

  <div class="container p-4">
    <div class="row">
      <div class="col-md-4">
        <img src="{{imagePath + movie?.poster_path}}" alt="">
      </div>
      <div class="col-md-8">
        <h1>{{movie?.title}} <span> ({{movie?.release_date.split('-')[0]}})</span></h1>
        <p>{{movie?.release_date.split('-')[0]}} : <span *ngFor="let genre of movie?.genres"> {{genre.name}} ,</span>
        </p>
        <div>
          <circle-progress [percent]=' movie?.vote_average * 10 ' [radius]="40" [outerStrokeWidth]="5"
            [outerStrokeColor]="'#00D273'" [animation]="true" [animationDuration]="300" [titleColor]="red">
          </circle-progress>
          <span>User Score</span>
        </div>
        <p class="tagline">{{movie?.tagline}}</p>

        <h3 class="mt-3">Overview</h3>
        <p>{{movie?.overview}}</p>
      </div>
    </div>
  </div>
</div>
<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
</div>
<ngx-spinner></ngx-spinner>