.card{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(var(--lightGrey), 1);
    background-color: #fff;
    border-radius: 10px;
  
}
.card-columns {
    column-count: 3;
  }

.movie-image{
  width:100%;height:400px;
}
.btn-color{
  background-color: rgb(3,37,65);
  color: #fff; 
}